<nav class="navbar navbar-inverse"> <!-- Navigation Bar -->
  <div class="container-fluid">
    <div class="navbar-header">      
      <ul class="nav nav-pills">

        <li role="presentation"><a routerLink="/form" routerLinkActive> <!-- RouterLink -->
          <span class="label label-info">Student Form</span></a></li>

        <li role="presentation"><a routerLink="/registered" routerLinkActive> <!-- RouterLink -->
          <span class="label label-info">Registered Students</span></a></li>
        
        <li role="presentation"><a routerLink="/logout" routerLinkActive> <!-- RouterLink -->
          <span class="label label-info">Logout</span></a></li>

      </ul>      
    </div>
  </div>
</nav>

<router-outlet></router-outlet> <!--Router Outlet-->

<h1>Angular Unit Testing</h1>